<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.inventorytracker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/inventory_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/inventory_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CatalogActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditorActivity"
            android:parentActivityName=".CatalogActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CatalogActivity" />
        </activity>
        <provider
            android:name=".data.ProductProvider"
            android:authorities="com.example.android.inventorytracker"
            android:exported="false" />
    </application>

</manifest>